.hikr-sidebar
  %a.logo-float{ :href=>"#" } hikr.jp
  .hikr-menu
    %br
    %ul
      %li.active
        %a{ :href=>"/guide" }
          %span.icon.map-marker
          &nbsp;Guide
      %li
        %a{ :href=>"/schedule" }
          %span.icon.calendar
          &nbsp;Schedule
      %li
        %a{ :href=>"/groups" }
          %span.icon.group
          &nbsp;Groups
.map-on-left
  #map
    .coords

  .article-container
    .header
      %h1= meta["title"]
      .info
        #plot
        #infobox
          .infopoint.level
            %label level
            %div= meta["info"]["level"]
          .infopoint.walking_time
            %label walking time
            %div= meta["info"]["walking_time"]
          .infopoint.highest_point
            %label highest point
            %div= meta["info"]["highest_point"]
          .infopoint.lowest_point
            %label lowest point
            %div= meta["info"]["lowest_point"]

        %br.clear
        //{% include infobox.html %}
    .article
      =body
      .author
        by #{meta["author"]}
:javascript
  window.onload = function(){
    var maps = #{ meta["map"].to_json };
    hikr = new Hikr("map");
    hikr.loadMaps(maps);
  };
